---
import Icon from "astro-icon"
import Layout from '../layouts/Layout.astro';
import {links, amazonLink} from "../data/settings"
import Button from "../components/Button.astro";

const amazonOnClick = `window.open('${amazonLink}', '_blank')`
---

<Layout title="A Black Kat's Voice">
	<main>
		<div class="theme-block-31">
			<div id="slideshow">
				<a href="#" class="slide" title="bg-image-0">
					<span class="animate up" style="background-image: url('/images/bg-image-0.jpg'); animation-duration: 7000ms;"></span>
				</a>
			</div>
			<div id="bg-slider">
				<a href="#" class="slide" title="bg-image-1">
					<span class="animate in"  style="background-image: url('/images/bg-image-1.jpg'); animation-duration: 7000ms;"></span>
				</a>
				
			</div>
			<div class="position-relative main-bg-slider" style="background-color: rgba(0, 0, 0, .2);">

				<div class="header-text">
					<span>
						<h1>Welcome to A Black Kat's Voice!</h1>
					</span>
				</div>
				<div class="jlf-first-page-logo-block">
					<img src="/images/logo-invert.png" alt="A Black Kat's Voice">
				</div>
				<div class="d-flex flex-wrap justify-content-center mx-11 slider-block-1">
					{
						links.map((item) => (
						<div class="jadore-area-item">
							<a href={item?.link ?? ""} target="_blank">
								<div class="jadore-areas-divs">
									<div class="jadore-area-name-desc-div">
										<h2 class="jadore-area-name-div">
											{item?.icon ? <Icon name={item.icon} height={item.height}/> : "Title"}
										</h2>

									</div>
									<div>
										<p class="jadore-areas-adv">{item?.description ?? "Description"}<Icon name="arrow-right-fill" height="1rem" style="margin-left: .25rem; transform: translateY(15%);"/></p>
									</div>
								</div>
							</a>
						</div>
						))
					}
				</div>
				
				<div class="col-lg-11 mx-auto">
					<div class="white-page-banner position-relative">
						<img class="flower-1" src="/images/book.jpg" onclick={amazonOnClick} alt="" style="cursor: pointer;"  title="Shop Amazon">
						<div class="white-page-banner-content jadore-areas-div" style="padding: 10px !important; margin: auto;">
							<p>Support the podcast by purchasing</p>
							<p >A Black Kat's Voice: Volume 1: Broken Heart, Happy Soul</p>
							<div class="position-relative mt-4 white-page-banner-logo">
								<div class="logo-section">
                                    <img src="/images/kat-davis-signature.svg" alt="" onclick={amazonOnClick} style="cursor: pointer;" title="Shop Amazon">
								</div>
								<div class="button-section-mobile">
									<Button />
								</div>
								<div class="button-section">
									<Button />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-11 mx-auto">
					<div class="main-footer">
						<div class="text-center mt-3">
							<ul class="home-footer-links">
								<li>&copy; <span id="copyright">2023</span> A Black Kat's Voice </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script>
	  document.querySelector("#copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
	/* main */

	/* div class="theme-block-31" */

	/* ----------------- */
	/* Slide Show        */
	/* ----------------- */
	/* div id="slideshow" */
	#slideshow {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
	/* a class="slide" */
	a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #acacac;
}

#slideshow .slide,
#slideshow span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#slideshow .slide span {
    background-size: cover;
    background-position: center;
}

#slideshow span.animate {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

		/* -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}

#slideshow span.animate.in {
    -webkit-animation-name: in;
    animation-name: in;
}

#slideshow span.animate.down {
    -webkit-animation-name: down;
    animation-name: down;
}

#slideshow .slide span.animate.up, #slideshow .slide span.animate.down {
    top: calc((-4vw + -4vh + -4%)/3);
    bottom: calc((-4vw + -4vh + -4%)/3);
}

#slideshow span.animate.up {
    -webkit-animation-name: up;
    animation-name: up;
}

#slideshow .slide span.animate.up, #slideshow .slide span.animate.up {
    top: calc((-4vw + -4vh + -4%)/3);
    bottom: calc((-4vw + -4vh + -4%)/3);
}

	/* ----------------- */
	/* Main Content      */
	/* ----------------- */
	/* div class="position-relative main-bg-slider first_page_updated_design" */
	.position-relative {
		position: relative !important;
	}

	@media (max-width: 780px) {
    .main-bg-slider {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
          gap: 30px 0;
    }
	}

	.main-bg-slider {
		min-height: 100vh;
	}

	/* div class="header-text" */
	.header-text {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    text-align: center;
    padding: 6px 0;
    color: #000;
    margin-bottom: 25px;
    min-height: 30px;
    max-height: max-content;
}

@media (max-width: 780px) {
	.main-bg-slider .header-text {
    margin-bottom: 0;
}
	}

/* span */

/* h1 */
.header-text h1 {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
}

/* div class="jlf-first-page-logo-block" */

.jlf-first-page-logo-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 780px) {
	.jlf-first-page-logo-block {
    margin-bottom: 0px;
    padding: 5px;
	}
}


/* img */
.jlf-first-page-logo-block img {
    max-width: 100%;
    width: 250px;
}


@media (max-width: 600px) {
	.jlf-first-page-logo-block img {
    width: 160px !important;
}
}

/* div class="d-flex flex-wrap justify-content-center mx-11 slider-block-1" */
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.slider-block-1 {
    min-height: 86vh;
    align-items: center;
}



@media (max-width: 780px) {
	.main-bg-slider .slider-block-1 {
    min-height: fit-content;
}
}

/* ----------------- */
/* Card              */
/* ----------------- */
/* div class="jadore-area-item" */
@media (max-width: 400px) {
	.jadore-area-item {
    margin: 0 10px;
    width: 100%;
	}
}

@media (max-width: 430px) {
	.jadore-area-item {
    margin: 0;
    width: unset !important;
	}
}
/* a */


/* div class="jadore-areas-divs" */
.jadore-areas-divs {
    width: 350px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #7a7d7f;
    outline: 2px solid #ccc;
    outline-offset: -7px;
    margin: 10px 20px;
    padding: 25px 20px;
    color: #000;
    max-height: max-content;
}

.jadore-areas-divs {
    transition: transform 0.3s;
}

.jadore-areas-divs:hover {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.jadore-areas-divs {
    width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 780px) {
	.jadore-areas-divs {
    width: 230px;
    min-height: 250px;
}
}

@media (max-width: 600px) {
	.jadore-areas-divs {
    margin: 7px;
    width: 170px;
    min-height: 150px;
}
}


@media (max-width: 430px) {
	.first_page_updated_design .jadore-areas-divs {
    margin: 7px;
    width: 170px !important;
    min-height: 150px !important;
}
}

/* div class="jadore-area-name-desc-dev" */
.jadore-area-name-desc-div {
    padding-top: 40px;
    text-align: center;
}

@media (max-width: 780px) {
	.jadore-area-name-desc-div {
    padding-top: 15px;
}
}

/* h2 class="jadore-area-name-div" */
.jadore-area-name-div {
    margin-top: 5px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 600px) {
	.jadore-area-name-div {
    font-size: 22px;
}
}

/* div */

/* p class="jadore-areas-adv" */
.jadore-areas-adv {
    margin: 10px 5px 0;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 55px;
    text-align: center;
}

@media (max-width: 780px) {
	p.jadore-areas-adv {
    padding-top: 25px;
}
}

/* div class="col-lg-11 mx-auto" */
.col-lg-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* class="white-page-banner position-relative" */
.white-page-banner {
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto !important;
}

@media (max-width: 715px) {
	.white-page-banner {
    height: 175px;
}
}

@media (max-width: 500px) {
	.white-page-banner {
    height: 165px;
    padding: 0px !important;
    margin: auto;
	}
}

/* img class="flower-1" */
.white-page-banner .flower-1 {
    height: 120px;
    object-fit: contain;
    position: absolute;
    left: 10px;
		top: 50px;
}

@media (min-width: 501px) {
	.white-page-banner .flower-1 {
    height: 100px;
    left: 40px;
		top: 75px;
}
}

@media (min-width: 600px) {
	.white-page-banner .flower-1 {
    height: 120px;
    left: 30px;
		top: 40px;
}
}

@media (min-width: 770px) {
	.white-page-banner .flower-1 {
    left: 60px;
}
}

@media (min-width: 920px) {
	.white-page-banner .flower-1 {
		height: 150px;
		top: 25px;
    left: 90px;
}
}

/* div class="white-page-banner-content jadore-areas-div" */

.white-page-banner-content {
    width: 100% !important;
    height: 140px !important;
    min-height: 140px !important;
}

.white-page-banner-content.jadore-areas-div {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #7a7d7f;
    outline: 2px solid #ccc;
    outline-offset: -7px;
    margin: 10px 20px;
    padding: 25px 20px;
    color: #383838;
    max-height: max-content;
		font-weight: 700;
}

/* p */
p {
    margin-bottom: 0px;
}

.white-page-banner p {
    color: black !important;
    font-size: 16px !important;
}

@media (max-width: 715px) {
	.white-page-banner p {
    font-size: 12px!important;
}
}

/* @media (max-width: 500px) {
	.white-page-banner p {
    font-size: 14px !important;
}
} */

/* div class="position-relative mt-4 white-page-banner-logo" */
.white-page-banner-logo {
    margin-top: 0.7rem !important;
    margin: auto;
}

@media (max-width: 500px) {
	.white-page-banner-logo {
    margin-top: 0.2rem !important;
}
}

/* div class="logo-section" */
.white-page-banner .logo-section {
    display: block !important;
    margin: auto !important;
}

/* a */

/* img */
.white-page-banner-content .logo-section img {
    height: 60px !important;
    width: 50% !important;
    object-fit: contain !important;
}

@media (max-width: 900px) {
	.white-page-banner-content .logo-section img {
    height: 70px;
    width: 50%;
}
}

@media (max-width: 715px) {
	.white-page-banner-content .logo-section img {
    width: 70%;
}
}

@media (max-width: 500px) {
	.white-page-banner-content .logo-section img {
    height: 50px;
    /* width: 80% !important; */
    margin-top: 5px;
	}
}


/* div class="jadore_area_subtitle_mobile button-section-mobile" */
.button-section-mobile {
    margin: 5px auto 0;
		display: block;
}

@media (min-width: 780px) {
	.button-section-mobile {
		display: none;
}
}


/* div class="button-section" */
.white-page-banner-content .button-section {
    position: absolute;
		display: none;
    right: -5px;
    top: 0;
    transform: translateY(-10%);
}

@media (min-width: 780px) {
	.white-page-banner-content .button-section {
		display: block;
	}
}

@media (min-width: 890px) {
	.white-page-banner-content .button-section {
		right: 5%;
	}
}

/* div class="button-border" */
.button-border {
    border: 1px solid #ccc;
    position: relative;
    top: -2px;
    margin: 0 -3px;
    border-radius: 1px;
}

/* a */
.white-page-banner-content .button-section a {
    color: black;
    font-size: 17px;
}



@media (max-width: 500px) {
	.white-page-banner-content .button-section a {
    font-size: 15px;
}
}

/* div class="col-lg-11 mx-auto" */

/* div class="main-footer" */

/* div class="text-center mt-3" */
.mt-3 {
    margin-top: 1rem !important;
}
.text-center {
    text-align: center !important;
}

/* ul class="home-footer-links" */
.home-footer-links {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/* li */
.home-footer-links li {
    display: inline-block;
		color: #fff;
}

/* ----------------- */
/* Animations        */
/* ----------------- */
@keyframes up {
	0% {
			-webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
			transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
			-ms-transform: translateY(4%);
	}
	100% {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
	}


}

@keyframes down {
	0% {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
	}

	100% {
			-webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
			transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
			-ms-transform: translateY(4%);
	}
}

@keyframes in {
	0% {
		-webkit-transform: scale(1);
			transform: scale(1);
	}

	100% {
    -webkit-transform: scale(1.15);
			transform: scale(1.15);
	}
}


</style>